html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: #f8f9fa;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header stays on top */
}

.main {
  flex: 1;
}

.footer {
  background: white;
  text-align: center;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  width: 100%;
}
